{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-center text-uppercase">Liste Clients</h1>
    <div class="d-flex justify-content-around my-3">
        <a href="javascript:creer()" class="btn btn-primary shadow text-light text-uppercase"><i class="bi bi-plus-square me-3"></i>Nouveau</a>    
        <a href="javascript:afficher()" class="btn btn-secondary shadow text-light text-uppercase"><i class="bi bi-eye me-3"></i>Afficher</a>    
        <a href="javascript:modifier()" class="btn btn-warning shadow text-light text-uppercase"><i class="bi bi-wrench-adjustable-circle me-3"></i>Modifier</a>    
        <a href="javascript:supprimer()" class="btn btn-danger shadow text-light text-uppercase"><i class="bi bi-plus-square me-3"></i>Supprimer</a>    
        <a href="javascript:writeExcel()" class="btn btn-success shadow text-light text-uppercase"><i class="bi bi-file-earmark-excel me-3"></i>Excel</a>    
    </div>
    <a id="excel" hidden href="{{asset('share/list-clients.xlsx')}}" download >Exporter</a>
    <table class="container m-2">
        <thead id="thead_client">
            <tr>
                <th class="border text-center text-uppercase"></th>
                <th class="border text-center text-uppercase">id</th>
                <th class="border text-center text-uppercase">code</th>
                <th class="border text-center text-uppercase">nom</th>
                <th class="border text-center text-uppercase">adresse</th>
            </tr>
        </thead>
        <tbody id="tbody_client">
            {% for client in clients %}
            <tr>
                <td class="border"><input type="checkbox" id="{{client.id}}" value="{{client.id}}" name="check" onclick="onlyOne(this)"></td>
                <td class="border">{{client.id}}</td>
                <td class="border">{{client.getNumClient()}}</td>
                <td class="border">{{client.nomClient}}</td>
                <td class="border">{{client.adresseClient}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot id="tfoot_client">
            <tr>
                <td class="center border" colspan="5">Nombre de clients : <span class="fw-bold">{{nbre}}</span></td>
            </tr>
        </tfoot>
    </table>
</div>

{% endblock %}
{% block script %}
    <script>
        const url_edit = "/client/edit/id";
        const url_delete = "/client/delete/id";
        {# const url_show = "/client/show/id"; #}
        //best 
        const url_show = "{{path('app_client_show',{'id': 'id'})}}";

        const url_export_excel = "{{path('app_client_export_excel')}}";

        function writeExcel(){
            let xhr = new XMLHttpRequest();
            xhr.open("POST", url_export_excel);
            xhr.send();
            xhr.onload = function(){
                const response = xhr.responseText;
                alert(response);
                excel.click();
            }
        }

        function afficher(){
            const id = getIdChecked('check');
            if(id == 0){
                alert('Selectionner une ligne');
            }
            const url = url_show.replace('id', id);
            document.location.href = url;
        }
        function supprimer(){
            const id = getIdChecked('check');
            if(id == 0){
                alert('Erreur, aucune ligne sélectionnée');
            }
            const response = confirm("Confirmer la suppression");
            if(response){
                const url = url_delete.replace('id', id);
                document.location.href = url;
            }
            
        }
        function modifier(){
            const id = getIdChecked('check');
            if(id == 0){
                alert('Erreur, aucune ligne sélectionnée');
            }
            //permet de tester le script
           // alert(id);
           //on vient modifier l'url par la valeur id de l'élément
            const url = url_edit.replace('id', id);
            document.location.href = url;
        }
        function creer(){
            const url = url_edit.replace('id', 0);
            document.location.href = url;
        }
        
    </script>
{% endblock %}