{% extends "base.html.twig" %}
{% block title %}AFFICHER CLIENT{% endblock %}


{% block body %}
    
    <div class="">
        <h1 class="text-center text-uppercase">affichage client</h1>
        <table class="border col-8 my-3 mx-auto">
            <tbody>
                <tr>
                    <td class="border text-center text-uppercase">CODE</td>
                    <td class="border text-uppercase text-center">{{client.numClient}}</td>
                </tr>
                <tr>
                    <td class="border text-center text-uppercase">NOM</td>
                    <td class="border text-uppercase text-center">{{client.nomClient}}</td>
                </tr>
                <tr>
                    <td class="border text-center text-uppercase">adresse</td>
                    <td class="border text-uppercase text-center">{{client.adresseClient}}</td>
                </tr>
            </tbody>
        </table>
        <div class="container">
            <button class="btn btn-success shadow text-uppercase" onclick="retour()">Retour liste</button>
            <button class="btn btn-danger shadow text-uppercase" onclick="supprimer()">supprimer</button>
        </div>
    </div>
{% endblock %}
{% block script %}
<script>
    function retour(){
        // document.location.href = "/client";
        document.location.href = "{{path('app_client')}}";
    }

    function supprimer(){
        const response = confirm('Confirmer la supression');
        if(response){
            const id = "{{client.id}}";
            const url = "{{path('app_client_delete', {'id' : client.id})}}"; 
            document.location.href = url;  
        }
    }
</script>
{% endblock %}