{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <div class="m-auto w90 my-4">
        <h1 class="text-center text-uppercase">Liste Article</h1>
        <div class="">
            <a class="btn btn-primary shadow text-uppercase m-3" href="{{ path('app_article_new') }}"><i class="bi bi-plus-square me-3"></i>Nouveau</a>
            <a href="javascript:writeExcel()" class="btn btn-success shadow text-uppercase"><i class="bi bi-file-earmark-excel me-3"></i>Excel</a>
        </div>
        
        <table class="table border rounded">
            <thead class="">
                <tr class="">
                    <th class="border text-uppercase text-center">Id</th>
                    <th class="border text-uppercase text-center">NumArticle</th>
                    <th class="border text-uppercase text-center">Designation</th>
                    <th class="border text-uppercase text-center">PrixUnitaire</th>
                    <th class="border text-uppercase text-center">actions</th>
                </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td class="border">{{ article.id }}</td>
                    <td class="border text-center">{{ article.numArticle }}</td>
                    <td class="border text-center">{{ article.designation }}</td>
                    <td class="border text-end">{{ article.prixUnitaire }}</td>
                    <td class="border text-center">
                        <a class="btn btn-success shadow text-uppercase" href="{{ path('app_article_show', {'id': article.id}) }}"><i class="bi bi-eyeglasses me-3"></i>Afficher</a>
                        <a class="btn btn-warning shadow text-uppercase" href="{{ path('app_article_edit', {'id': article.id}) }}"><i class="bi bi-screwdriver me-3"></i>Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucune données enregistrées.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        
    </div>
{% endblock %}
